<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mou.MotionModel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mou.MotionModel.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Dialog" android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".RealTime"
            android:label="@string/realtime_title" android:screenOrientation="nosensor">      
        </activity>
        <activity
            android:name=".BluetoothDeviceList" android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST"/>  
            </intent-filter> 
        </activity>
        <activity
            android:name=".History"
            android:label="@string/history_title" android:screenOrientation="nosensor">
        </activity>
    </application>

</manifest>
